---
- name: Set default VM definitions (with MAC address generation if not set)
  set_fact:
    vms: "{{ vms | map('combine', {'mac_address': item.mac_address if item.mac_address is defined else ('52:54:00' | community.general.random_mac)}) | list }}"
  loop: "{{ vms }}"
  loop_control:
    loop_var: item




    # - name: Copy VM over
    # command: cp "{{ baseline_image }}" "{{ disk_path }}" ## Don't scream at me, I'm being lazy. It'll get converted into idempotent language.
- name: Create a new VM
  community.libvirt.virt:
    command: define
    xml: "{{ lookup('template', 'vm_xml.j2') }}"
  loop: "{{ vms }}"
  loop_control:
    loop_var: vm
  become: true
