---
#- name: Set default VM definitions (with MAC address generation if not set)
#  set_fact:
#    vms: "{{ vms | map('combine', {'mac_address': (item.mac_address if item.mac_address is defined else ('52:54:00' | community.general.random_mac))}) | list }}"
#  loop: "{{ vms }}"
#  loop_control:
#    loop_var: item

- name: Load saved MAC addresses if the file exists
  ansible.builtin.include_vars:
    file: mac_addresses.json
    name: saved_mac_addresses
  ignore_errors: yes
  register: mac_addresses_result

- name: Set default saved_mac_addresses if file did not exist
  set_fact:
    saved_mac_addresses: "{{ saved_mac_addresses | default({}) }}"
  when: mac_addresses_result.failed

- name: Generate MAC addresses for VMs
  set_fact:
    vms: "{{ vms | map('combine', {'mac_address': (saved_mac_addresses[item.vm_name] if item.vm_name in saved_mac_addresses else ('52:54:00' | community.general.random_mac))}) | list }}"
  loop: "{{ vms }}"
  loop_control:
    loop_var: item

- name: Update saved MAC addresses
  set_fact:
    updated_mac_addresses: "{{ (saved_mac_addresses | default({})) | combine({item.vm_name: item.mac_address}) }}"
  loop: "{{ vms }}"
  loop_control:
    loop_var: item

- name: Save updated MAC addresses to file
  ansible.builtin.copy:
    content: "{{ updated_mac_addresses | to_json }}"
    dest: mac_addresses.json

- name: Save updated MAC addresses to file
  ansible.builtin.copy:
    content: "{{ updated_mac_addresses | to_json }}"
    dest: mac_addresses.json


    # - name: Copy VM over
    # command: cp "{{ baseline_image }}" "{{ disk_path }}" ## Don't scream at me, I'm being lazy. It'll get converted into idempotent language.
- name: Create a new VM
  community.libvirt.virt:
    command: define
    xml: "{{ lookup('template', 'vm_xml.j2') }}"
  loop: "{{ vms }}"
  loop_control:
    loop_var: vm
  become: true
