---
# handlers file for create_vm2
- name: Create a new VM
  community.libvirt.virt:
    command: define
    xml: "{{ lookup('template', 'vm_xml.j2') }}"
  loop: "{{ vms }}"
  loop_control:
    loop_var: vm
  become: true
