- name: Ensure all required packages are installed
  ansible.builtin.dnf:
    name: "@Virtualization,podman,bind-utils,libguestfs-tools,cloud-init,virt-install,lm_sensors, python3-jmespath, cockpit, cockpit-machines,openssh-askpass"
    state: installed
  become: true

- name: Ensure NFS mount dir is present
  file:
    path: /mnt/share
    state: directory
  become: true
