---
# tasks file for common
- name: Install collection community.network
  community.general.ansible_galaxy_install:
    type: collection
    requirements_file: "{{ role_path }}/files/requirements.yml"
