---
driver:
  name: default
platforms:
  - name: instance
    image: localhost/bastion-container:latest
provisioner:
  name: ansible
verifier:
  name: ansible
lint: |
  set -e
  yamllint .
  ansible-lint .
